@model CountriesViewModel
@{
    ViewData["Title"] = "Country Details";
}

<h2 class="text-center p-2">Country Details</h2>

<div class="row">
    <div class="col">
        <ul class="list-group text-center">
            <li class="list-group-item">
                <img src="~images/@Model.Country.FlagImage" alt="flag image" />
                <h3>@Model.Country.CountryName</h3>
            </li>
            <li class="list-group-item">
                <h4>Games: @Model.Country.Game.GameName</h4>
            </li>
            <li class="list-group-item">
                <h4>Sport: @Model.Country.Sport.SportName</h4>
            </li>
            <li class="list-group-item">
                <h4>Location: @Model.Country.Location.LocationName</h4>
            </li>
            <li class="list-group-item">
                <form asp-action="Add" asp-controller="Favorites" method="post">
                    <a asp-action="Index" class="btn btn-primary" asp-route-activeGame="@Model.ActiveGame" asp-route-activeSport="@Model.ActiveSport"  asp-route-activeLocation="@Model.ActiveLocation">
                    Return to Home Page 
                    </a>
                    <button type="submit" class="btn btn-primary">Add to Favorites</button>
                    <input type="hidden" asp-for="Country.CountryID"/>
                </form>
            </li>
        </ul>
    </div>
</div>